{
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "semi": false,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^utils/(.*)$",
        "^components/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
